* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background: rgb(142, 59, 0);
}

.page {
  position: relative;
}

.scrolltop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5ae39;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  transition: all 0.65s;
}

.scrolltop.active {
  opacity: 1;
  transition: all 0.65s;
}

.nav {
  margin-bottom: 10px;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  font-weight: bold;

}

.main-nav li:first-child {
  margin-right: auto;
  font-size: 30px;

}

.main-nav a {
  color: rgb(249, 239, 239);
  margin: 10px;
  border-radius: 5px;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.main-nav li {
  color: rgb(149, 88, 88);
}

.item_text {
  font-size: 70px;
  font-weight: bold;
  color: rgb(251, 200, 59);
  margin: 40px;
  margin-left: 300px;
  animation: key1 .3s ease infinite alternate;
}

@keyframes key1 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.top_menu {
  text-decoration: none;
  color: #c3c1c1;
  font-size: 16px;

}

.menu_text {
  position: relative;
  z-index: 1;
}

.menu_text:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%;
  height: 2px;
  background: #e67f02;
  z-index: -1;
  transition: all 0.4s;
}

.top_menu:hover .menu_text:after {
  width: 100%;
}

.menu_text span {
  font-size: 20px;
  color: rgb(246, 184, 60);
}


main {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}


.event_top {
  /* margin-left: 80px; */
}

.event_top ul {
  display: flex;
  list-style: none;
  width: 500px;
}

.event_top li {
  margin: 10px;
  border-radius: 5px;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.search {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 30%;
  width: 100%;
  font-family: 'Arial', sans-serif;

}

.search_input {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}

.search_input_box {
  position: relative;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-left: 70px;
}

.search-label {
  position: absolute;
  top: 15px;
  left: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #9d9d9d;
  transition: all 0.25s ease;
}

.focus {
  top: -35px;
  left: 5px;
  font-weight: bold;
  font-size: 14px;
  color: rgb(254, 254, 254);
}


.search_textbox {
  position: relative;
  display: block;
  width: 500px;
  margin-top: 50px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none;
}

.main_container {
  width: 100%;
}

.map {
  width: 100%;
}

.map h1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  letter-spacing: 0.15em;
  -webkit-text-stroke: 1.3px #f1f4ef;

  color: transparent;
  font-size: 40px;
}

.map_box {
  width: 100%;

}

.event {
  width: 100%;
  height: 130px;
  margin-bottom: 110px;
}

.event_btn {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.event_btn a {
  text-decoration: none;
}

.event_btn_a,
.event_btn_b,
.event_btn_c {
  background: seashell;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 10px 10px 0 rgb(141, 85, 1);
  border-radius: 5px;
}

.event_btn_a:hover,
.event_btn_b:hover,
.event_btn_c:hover {
  box-shadow: 0 5px 5px 0 rgb(120, 117, 117);
}

.event_btn p {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
  font-weight: bold;
}

.event_btn_a span {
  font-size: 40px;
  color: rgb(193, 49, 5);
}

.event_btn_b span {
  font-size: 40px;
  color: rgb(83, 83, 83);
}

.event_btn_c span {
  font-size: 40px;
  color: rgb(220, 169, 1);
}


.ranking_box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px auto;
}

.category_menu {
  width: 20%;
}

.ranking {
  width: 85%;
  padding: 20px;
  margin: 0 auto;
}

.ranking h1 {
  margin-bottom: 50px;
  letter-spacing: 0.15em;
  -webkit-text-stroke: 1.3px #f5f9f8;

  color: transparent;
  font-size: 40px;
}

.ranking_card_box {
  width: 100%;
  display: flex;
  margin: 0 10px;
  align-items: center;
  justify-content: space-between;

}

.card {
  width: 230px;
  height: 350px;
  margin-bottom: 50px;
  margin: 30px;

}

.card_link {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: #4584b1;
  position: relative;
  top: 0;
  transition: all .3s easy-in;
}

.card_link:hover {
  transform: scale(1.1);
  transition-duration: 1s;
  top: -2;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.ranking_card_box a {
  text-decoration: none;
  box-shadow: 0 10px 20px 0 rgb(141, 85, 1);
}

.card img {
  width: 100%;
}

.card_inner {
  padding: 20px;
  display: flex;
  height: 150px;
  font-size: 12px;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;

}

.card_inner p {
  flex: 1;
  line-height: 1.4;
  height: 150px;
}

.card_inner p {
  color: #333;
}

.card_inner h2 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card_inner span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin: 2em 0 0 0;
}

footer {
  background: #a0a0a0;
  width: 100%;
  height: 100px;
}


.main_container {
  position: relative;
  height: 85vh;
  margin-bottom: 110px;
  width: 90%;
}


.main_inner {
  position: absolute;
  top: 50%;
  left: 74.3%;
  transform: translate(-50%, -50%);
  width: 40vw;
  z-index: 2;

}

/* 
@media screen and (max-width: 768px) {
  .Hero-Inner {
    left: inherit;
    right: 30px;
    width: 249px;
    transform: translateY(-50%);
  }
} */

.main_inner_text {
  letter-spacing: 0.15em;
  color: rgb(212, 212, 212);
  font-size: 64px;
  font-weight: bold;
  margin-left: 100px;
}

/* @media screen and (max-width: 768px) {
  .Hero-Inner-Headline {
    font-size: 36px;
  }
} */

.main_img {
  position: absolute;
  top: 0;
  left: 80px;
  background: url("wazzega_13.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 95%;
  z-index: 1;
}

.main_mask {
  position: absolute;
  top: -20px;
  right: 70px;
  background: rgba(54, 2, 2, 0.3);
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 90%;
}